* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
}

/* navigation */

.nav-container{
    width: 100%;
    padding-left: 8%;
    padding-right: 4%;
    box-sizing: border-box;
  }
  .navbar{
    height: 12%;
    display: flex;
    align-items: center;
  }
  
  .logo{
    width: 70px;
    height: 70px;
    cursor: pointer;
  }
  
  nav{
    flex: 1;
    text-align: right;
    margin-right: 40px;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
  }
  nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
    
  }
  
  nav ul li a:hover {
    border-bottom: 4px solid rgb(0, 0, 0);
    padding-bottom: 8px;
  }

  #nav-hr {
    margin: 8px 90px;
  }
  
   /* second navigation bar */
   .navbar-container2 {
    overflow: hidden;
    background-color: #333;
    font-size: 20px;
    padding: 4px;
  }
  
  /* Style the links inside the navigation bar */
  .navbar-container2 a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40px;
  }
  
  /* Change the color of links on hover */
  .navbar-container2 a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  .active {
    background-color: #4CAF50;
    color: white;
  }
  hr{
    stroke: 5px;
  }
  #sigiriya{
    font-size: 20px;
    margin:50px 20px 50px 20px;
  }
  #sigiriya img{
    float:left;
    margin-right: 20px;
  }
  #sri-padaya{
    font-size:20px;
    margin:50px 20px 50px 20px;
  }
  #sri-padaya img{
    float:left;
    margin-right: 20px;
  }
  #nine-arch-bridge{
    font-size:20px;
    margin:50px 20px 50px 20px;
  }
  #nine-arch-bridge img{
    float:left;
    margin-right:20px;
  }
  #world-end{
    font-size:20px;
    margin:50px 20px 50px 20px 
  }
  #world-end img{
    float:left;
    margin-right: 20px;
  }
  #sinharaja{
    font-size:20px;
    margin:50px 20px 50px 20px;
  }
  #sinharaja img{
    float:left;
    margin-right: 20px;
  }
  #ruwanwelisaya{
    font-size:20px;
    margin:50px 20px 50px 20px;
  }
  #ruwanwelisaya img{
    float:left;
    margin-right:20px;
  }
  #polonnaruwa{
    font-size:20px;
    margin:50px 20px 50px 20px;
  }
  #polonnaruwa img{
    float:left;
    margin-right:20px;
  }
  #galle-fort{
    font-size:20px;
    margin:50px 20px 50px 20px;
  }
  #galle-fort img{
    float:left;
    margin-right: 20px;
  }
  #ravana-falls{
    font-size:20px;
    margin:50px 20px 50px 20px;
  }
  #ravana-falls img{
    float:left;
    margin-right:20px;
  }
  
  
    /* footer */
.container-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .row-footer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-footer {
    flex-basis: 33%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .col-footer h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .col-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 10px;
  }
  
  .col-footer li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .col-footer p {
    font-size: 16px;
  }
  
  .container-footer a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }
  
  .container-footer a:hover {
    text-decoration: underline;
  }
  
  
  .copyright {
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
  }
  
  .copyright hr {
    margin: 10px 20px 10px 20px;
    color: #ffffff7c;
  }